<app-titulo [titulo]="'Professores'"></app-titulo>



<div action="" class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro:</label>
    <input type="text" class="form-control mr-2" placeholder="Buscar" [(ngModel)]="filtroLista">
  </div>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Apelido</th>
      <th>Email</th>
      <th>Disponibilidade</th>
      <th>Pilar</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="professores && professores.length">
    <tr *ngFor="let professor of professoresFiltrados">
      <td>{{professor.id}}</td>
      <td>{{professor.nome}}</td>
      <td>{{professor.apelido}}</td>
      <td>{{professor.email}}</td>
      <td class="InputDisponibilidade">{{professor.disponivel}}</td>
      <td >{{professor.pilarId}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm mr-2" tooltip="Editar">
            <i class="fa fa-edit"></i>
        </button>
        <button type="button"class="btn btn-danger btn-sm" tooltip="Excluir">
            <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!professores.length">
    <tr>
      <td colspan="8" class="text-center">
        <h2>Nenhum Professor Encontrado</h2>
      </td>
    </tr>
  </tfoot>
</table>
